.legend {
  line-height: 18px;
  color: #FFFFFF;
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}
.info {
  @apply
    text-xs
    md:text-sm;
  padding: 6px 8px;
  background: white;
  background: #333333;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  border: 1px solid #666666;
}
.info h4 {
  margin: 0 0 2px;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid #CCCCCC;
}

.leaflet-popup {
  @apply
    bg-gray-900
    text-gray-200;
}

.map-filter-opt {
  @apply
    px-3 py-2 w-full
    inline-flex items-center justify-center
    bg-gray-700
    cursor-pointer
    peer-checked:bg-blue-600
    peer-checked:underline
    peer-checked:font-bold
    hover:bg-gray-800 hover:underline
    text-nowrap;
}

.map-ctrls {
  margin-top: 0px !important;
  @apply
    px-1.5 py-1.5
    bg-gray-900
    text-gray-200
    flex
    items-center
    rounded-b-xl;

  button {
    @apply
      px-2 py-1 mr-1 my-1 mx-2
      cursor-pointer
      flex items-center
      border-none
      md:border
      border-gray-500
      rounded-md
      md:rounded-full
      bg-gray-700;
    span {
      @apply
        hidden
        md:inline-block
        ml-1
        text-gray-300
    }
  }
  button:focus {
    @apply
      border;
  }
}
