<div class="flex px-2 py-2 mb-0 scroll-container z-10">

  <button (click)="openFiltersDrawer()" type="button"
    class="btn btn-primary">
    <ng-icon name="heroAdjustmentsHorizontal" class="mr-1 text-lg"></ng-icon>
    <span class="sr-only">Applied Filter Count</span>
    Filters
    @if (filterCount() > 0) {
      <div class="count-badge">
        {{ filterCount() }}
      </div>
    }
  </button>

  <form [formGroup]="sortForm" class="mr-1.5">
    <select formControlName="sort" class="select">
      <option>[Sort Results]</option>
      <option value="">WMA Name &amp; Season</option>
      <option value="success">Success Rate</option>
      <option value="hunters">Hunter Count</option>
    </select>
  </form>

  <!-- {{ filterForm.value | json }} -->

  @if ((filter$ | async); as filters) {

    @if (filters.successRate! > 0) {
      <span class="hidden md:inline-flex mr-1.5 whitespace-nowrap bg-green-500 text-gray-200 text-xs font-medium items-center px-2.5 py-0.5 rounded-full border border-gray-500">
        Success Rate &gt; {{ filters.successRate }}&percnt;
        <div (mouseover)="showRemoveFilterTooltip('successRate', 'hover', $event)" class="pt-1 inline-flex items-center">
          <a class="cursor-pointer hover:text-white" (click)="removeSuccessRate()">
            <ng-icon name="heroXMark" class="text-xl font-extrabold"></ng-icon>
          </a>
          <div id="successRate" role="tooltip"
            class="absolute z-10 invisible inline-block px-3 py-2 text-xs font-medium text-gray-300 transition-opacity duration-300 bg-gray-900 rounded-full shadow-sm opacity-0 tooltip">
            Remove <span class="italic">'Success rate &gt; {{ filters.successRate }}'</span> from filters.
            <div class="tooltip-arrow" data-popper-arrow></div>
          </div>
        </div>
      </span>
    }

    @for (wmaId of filters.wmas; track wmaId) {
      <span class="hidden md:inline-flex mr-1.5 whitespace-nowrap bg-gray-300 text-gray-800 text-xs font-medium items-center px-2.5 py-0.5 rounded-full border border-gray-500 ">
        {{ wmaId | filterObjName: auxData.wmas }}
        <div (mouseover)="showRemoveFilterTooltip(wmaId.toString(), 'hover', $event)" class="pt-1 inline-flex items-center">
          <a class="cursor-pointer hover:text-cyan-800" (click)="removeCheckboxFilter(wmaId, 'wmas')">
            <ng-icon name="heroXMark" class="text-xl font-extrabold"></ng-icon>
          </a>
          <div id="{{ wmaId }}" role="tooltip"
            class="absolute z-10 invisible inline-block px-3 py-2 text-xs font-medium text-gray-300 transition-opacity duration-300 bg-gray-900 rounded-full shadow-sm opacity-0 tooltip">
            Remove  <span class="italic">'{{ wmaId | filterObjName: auxData.wmas }}'</span> from filters.
            <div class="tooltip-arrow" data-popper-arrow></div>
          </div>
        </div>
      </span>
    }

    @for (seasonId of filters.seasons; track seasonId) {
      <span class="hidden md:inline-flex mr-1.5 whitespace-nowrap bg-gray-300 text-gray-800 text-xs font-medium items-center px-2.5 py-0.5 rounded-full border border-gray-500 ">
        {{ seasonId | filterObjName: auxData.seasons }}
        <div (mouseover)="showRemoveFilterTooltip(seasonId.toString(), 'hover', $event)" class="pt-1 inline-flex items-center">
          <a class="cursor-pointer hover:text-cyan-800" (click)="removeCheckboxFilter(seasonId, 'seasons')">
            <ng-icon name="heroXMark" class="text-xl font-extrabold"></ng-icon>
          </a>
          <div id="{{ seasonId }}" role="tooltip"
            class="absolute z-10 invisible inline-block px-3 py-2 text-xs font-medium text-gray-300 transition-opacity duration-300 bg-gray-900 rounded-full shadow-sm opacity-0 tooltip">
            Remove <span class="italic">'{{ seasonId | filterObjName: auxData.seasons }}'</span> filters.
            <div class="tooltip-arrow" data-popper-arrow></div>
          </div>
        </div>
      </span>
    }

    @for (weaponId of filters.weapons; track weaponId) {
      <span class="hidden md:inline-flex mr-1.5 whitespace-nowrap bg-gray-300 text-gray-800 text-xs font-medium items-center px-2.5 py-0.5 rounded-full border border-gray-500 ">
        {{ weaponId | filterObjName: auxData.weapons }}
        <div (mouseover)="showRemoveFilterTooltip(weaponId.toString(), 'hover', $event)" class="pt-1 inline-flex items-center">
          <a class="cursor-pointer hover:text-cyan-800" (click)="removeCheckboxFilter(weaponId, 'weapons')">
            <ng-icon name="heroXMark" class="text-xl font-extrabold"></ng-icon>
          </a>
          <div id="{{ weaponId }}" role="tooltip"
            class="absolute z-10 invisible inline-block px-3 py-2 text-xs font-medium text-gray-300 transition-opacity duration-300 bg-gray-900 rounded-full shadow-sm opacity-0 tooltip">
            Remove <span class="italic">'{{ weaponId | filterObjName: auxData.weapons }}'</span> from filters.
            <div class="tooltip-arrow" data-popper-arrow></div>
          </div>
        </div>
      </span>
    }

  }

</div>

<gawmas-drawer #filterDrawer [targetElement]="filterDrawerTarget">

  <form [formGroup]="filterForm">
    <div class="flex items-center ml-3 lg:border-b lg:border-gray-500 pb-2">
      <h3 class="hidden lg:flex-1 md:block lg:block text-xl font-semibold text-gray-200 align-baseline pl-3">
        Filter Hunt Results {{ selectedWmaIds() }}
      </h3>
      <div class="flex md:pr-2 md:ml-3">
        <button (click)="apply()" type="button" class="btn btn-primary">
          <ng-icon name="heroBolt" class="mr-1 text-lg"></ng-icon>
          <span class="sr-only">Notifications</span>
          Apply
          @if (filterCount() > 0) {
            <div class="count-badge">
              {{ filterCount() }}
            </div>
          }
        </button>
          <button (click)="clearFilters()" [disabled]="filterCount() === 0" type="button" class="btn btn-danger">
            Clear
          </button>
        <button (click)="cancel()" type="button" class="btn btn-default">
          Cancel
        </button>
      </div>
    </div>
    <div class="m-2 pt-0 grid grid-cols-1 gap-0 lg:grid-cols-2 lg:gap-2">

      <div class="p-4 text-left text-gray-300">

        <div class="grid grid-cols-2 gap-1 mb-2">
          <label class="relative inline-flex items-center cursor-pointer">
            <input formControlName="isStatePark" type="checkbox" value="" class="sr-only peer">
            <div class="toggle peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 rounded-full peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white"></div>
            <span class="ms-2 text-sm font-medium text-gray-300">State Park</span>
          </label>
          <label class="relative inline-flex items-center cursor-pointer">
            <input formControlName="isVpa" type="checkbox" value="" class="sr-only peer">
            <div class="toggle peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 rounded-full peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white"></div>
            <span class="ms-2 text-sm font-medium text-gray-300">VPA</span>
          </label>
        </div>
        <div class="grid grid-cols-1">
          <label class="relative inline-flex items-center cursor-pointer">
            <input type="checkbox" value="" class="sr-only peer">
            <div class="toggle peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 rounded-full peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white"></div>
            <span class="ms-2 text-sm font-medium text-gray-300">Quota/Bonus Hunt</span>
          </label>
        </div>

        <div class="mt-2 flex justify-start items-center">
          <div><ng-icon name="heroMapPin" class="font-extrabold"></ng-icon></div>
          <div class="font-bold pb-1 pl-1">WMAs</div>
        </div>
        @if (filterForm.controls['isStatePark'].value === false && filterForm.controls['isVpa'].value === false) {
          <div class="relative mb-1">
            <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
              <svg class="w-4 h-4 text-gray-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 20 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
              </svg>
            </div>
            <input formControlName="wmaFilter" type="search"
              class="block w-full h-2 p-4 ps-10 text-xs italic text-gray-300 placeholder:text-gray-300 border border-gray-500 rounded-md bg-gray-600 focus:ring-blue-500 focus:border-blue-500"
              placeholder="Search WMAs by name...">
            <div class="text-gray-300 h-2 absolute end-2 bottom-5 text-xs">
              @if (filterForm.controls['wmaFilter'].value.length > 0) {
              <a class="cursor-pointer hover:text-white" (click)="clearSearch()">
                <ng-icon name="heroXMark" class="text-xl font-extrabold"></ng-icon>
              </a>
              }
            </div>
          </div>
        }
        <div class="h-48 lg:h-40 overflow-y-auto rounded-md border border-gray-500 pt-2 overflow-x-hidden">
          @if (noFilteredWmasFound()) {
            <div class="w-full text-red-500 text-xs italic pl-2">
              No WMAs found matching your search criteria.
            </div>
          }
          <div formArrayName="wmas" *ngFor="let wma of (filterForm | formArray: 'wmas')?.controls; let i = index"
            class="flex items-center">
            <label for="wma{{ i }}" class="ml-2 inline-block text-sm whitespace-nowrap align-baseline" [ngClass]="{
              'text-gray-300': (filterForm | formArray: 'wmas')?.at(i)?.value === false,
              'text-gawmas-yeller': (filterForm | formArray: 'wmas')?.at(i)?.value === true,
              'hidden': auxData.filteredWmas[i].visible === false
            }">
              <input [formControlName]="i" id="wma{{ i }}" type="checkbox"
                [ngClass]="{ 'hidden': auxData.filteredWmas[i].visible === false }"
                class="h-4 w-4 text-blue-600 focus:ring-blue-500 border-gray-300 rounded inline-block mb-1">
              {{ auxData.filteredWmas[i].name }}
            </label>
          </div>
        </div>
        @if (selectedWmasCount() > 0) {
        <div class="text-sm text-gawmas-yeller font-bold italic text-right">
          {{ selectedWmasCount() }} selected</div>
        }

        <div class="mt-2 flex justify-start items-center">
          <div><ng-icon name="heroCalendar" class="font-extrabold"></ng-icon></div>
          <div class="font-bold pb-1 pl-1">Seasons</div>
        </div>
        <div class="h-20 overflow-y-auto rounded-md border border-gray-500 pt-2 lg:h-32">
          <div formArrayName="seasons" *ngFor="let s of (filterForm | formArray: 'seasons')?.controls; let i = index"
            class="flex items-center">
            <label for="s{{ i }}" class="ml-2 inline-block text-sm whitespace-nowrap align-baseline" [ngClass]="{
              'text-gray-300': (filterForm | formArray: 'seasons')?.at(i)?.value === false,
              'text-gawmas-yeller': (filterForm | formArray: 'seasons')?.at(i)?.value === true
            }">
              <input [formControlName]="i" id="s{{ i }}" type="checkbox"
                class="h-4 w-4 text-blue-600 focus:ring-blue-500 border-gray-300 rounded inline-block mb-1">
              {{ auxData.seasons[i].season }}
            </label>
          </div>
        </div>

        <div class="mt-2 flex justify-start items-center">
          <div><ng-icon name="heroWrenchScrewdriver" class="font-extrabold"></ng-icon></div>
          <div class="font-bold pb-1 pl-1">Weapons</div>
        </div>
        <div class="h-20 overflow-y-auto rounded-md border border-gray-500 pt-2 lg:h-24">
          <div formArrayName="weapons" *ngFor="let w of (filterForm | formArray: 'weapons')?.controls; let i = index"
            class="flex items-center">
            <label for="w{{ i }}" class="ml-2 inline-block text-sm whitespace-nowrap align-baseline" [ngClass]="{
              'text-gray-300': (filterForm | formArray: 'weapons')?.at(i)?.value === false,
              'text-gawmas-yeller': (filterForm | formArray: 'weapons')?.at(i)?.value === true
            }">
              <input [formControlName]="i" id="w{{ i }}" type="checkbox"
                class="h-4 w-4 text-blue-600 focus:ring-blue-500 border-gray-300 rounded inline-block mb-1">
              {{ auxData.weapons[i].name }}
            </label>
          </div>
        </div>
      </div>

      <div class="p-4 pt-1 mb-12 text-left text-gray-300">

        <div class="mt-2 flex justify-start items-center">
          <div><ng-icon name="heroChartPie" class="font-extrabold"></ng-icon></div>
          <div class="font-bold pb-1 pl-1">
            Success Rate
            <span class="text-sm font-normal italic">
              (&gt;&equals;
              <span class="font-bold text-gawmas-yeller text-sm">
                {{ filterForm.controls['successRate'].value + '%' }}</span>)
            </span>
          </div>
        </div>
        <div class="relative mb-7">
          <input formControlName="successRate" id="labels-range-input" type="range" value="0" step="5" min="0" max="100"
            class="w-full h-2 bg-gray-300 rounded-lg appearance-none cursor-pointer">
          <span class="text-xs text-gray-400 absolute start-0 -bottom-4 ml-2 mt-0 font-bold">0%</span>
          <span class="text-xs text-gray-400 absolute end-0 -bottom-4 mr-1 mt-0 font-bold">100%+</span>
        </div>

        <div class="mt-2 flex justify-start items-center border-b border-gray-500 mb-2">
          <div><ng-icon name="heroSun" class="font-extrabold"></ng-icon></div>
          <div class="font-bold pb-1 pl-1">Average Temperatures</div>
        </div>
        <div class="flex items-center mb-2 ml-2">
          <input id="warmer" type="radio" name="default-radio"
            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 focus:ring-2">
          <div class="ml-1">
            <ng-icon name="heroArrowUp" class="font-extrabold text-red-500"></ng-icon>
          </div>
          <label for="warmer" class="text-sm font-medium text-gray-300">
            Warmer than average
          </label>
        </div>
        <div class="flex items-center ml-2 mb-2">
          <input id="cooler" type="radio" name="default-radio"
            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 focus:ring-2">
          <div class="ml-1">
            <ng-icon name="heroArrowDown" class="font-extrabold text-blue-500"></ng-icon>
          </div>
          <label for="cooler" class="text-sm font-medium text-gray-300">
            Cooler than average
          </label>
        </div>
        <div class="flex items-center ml-2 mb-4">
          <input checked id="neither" type="radio" name="default-radio"
            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 focus:ring-2">
          <label for="neither" class="ml-2 text-sm font-medium text-gray-300">
            Neither warmer nor cooler than average
          </label>
        </div>

        <div class="mt-2 flex justify-start items-center">
          <div>
            <ng-icon name="heroMoon" class="font-extrabold"></ng-icon>
          </div>
          <div class="font-bold pb-1 pl-1">*Lunar Phase</div>
        </div>
        <ul class="w-full gap-0 inline-flex">
          <li>
            <input type="radio" id="new" name="hosting" value="hosting-small" class="hidden peer">
            <label data-tooltip-target="new-tip" data-tooltip-placement="bottom" for="new"
              class="p-2 inline-flex items-center justify-between rounded-l-xl bg-gray-300 border border-gray-200 cursor-pointer peer-checked:bg-blue-600 hover:bg-gray-200">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-7 h-7">
                <circle cx="12" cy="12" r="10" fill="black" />
              </svg>
            </label>
            <div id="new-tip" role="tooltip"
              class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-gray-300 transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip">
              New Moon
              <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
          </li>
          <li>
            <input type="radio" id="first" name="hosting" value="hosting-small" class="hidden peer">
            <label data-tooltip-target="first-tip" data-tooltip-placement="bottom" for="first"
              class="inline-flex items-center justify-between p-2 bg-gray-300 border border-gray-200 cursor-pointer peer-checked:bg-blue-600 hover:bg-gray-200">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-7 h-7">
                <circle cx="12" cy="12" r="10" stroke="black" stroke-width="2" fill="white" />
                <path d="M12 2 A10 10 0 0 1 12 22 L12 2 Z" fill="black" />
              </svg>
            </label>
            <div id="first-tip" role="tooltip"
              class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-gray-300 transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip">
              First Quarter
              <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
          </li>
          <li>
            <input type="radio" id="last" name="hosting" value="hosting-small" class="hidden peer">
            <label data-tooltip-target="last-tip" data-tooltip-placement="bottom" for="last"
              class="inline-flex items-center justify-between p-2 bg-gray-300 border border-gray-200 cursor-pointer peer-checked:bg-blue-600 hover:bg-gray-200">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-7 h-7">
                <circle cx="12" cy="12" r="10" stroke="black" stroke-width="2" fill="white" />
                <path d="M12 2 A10 10 0 0 0 12 22 L12 2 Z" fill="black" />
              </svg>
            </label>
            <div id="last-tip" role="tooltip"
              class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-gray-300 transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip">
              Last Quarter
              <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
          </li>
          <li>
            <input type="radio" id="full" name="hosting" value="hosting-small" class="hidden peer">
            <label data-tooltip-target="full-tip" data-tooltip-placement="bottom" for="full"
              class="inline-flex items-center justify-between p-2 bg-gray-300 border border-gray-200 cursor-pointer peer-checked:bg-blue-600 hover:bg-gray-200">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-7 h-7">
                <circle cx="12" cy="12" r="10" stroke="black" stroke-width="2" fill="white" />
              </svg>
            </label>
            <div id="full-tip" role="tooltip"
              class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-gray-300 transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip">
              Full Moon
              <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
          </li>
          <li>
            <input type="radio" id="ignore" name="hosting" value="hosting-small" class="hidden peer">
            <label for="ignore"
              class="inline-flex items-center rounded-r-xl text-gray-800 italic text-sm justify-between p-3 bg-gray-300 border border-gray-200 cursor-pointer peer-checked:bg-blue-600 peer-checked:text-gray-200 hover:bg-gray-200">
              <ng-icon name="heroNoSymbol" class="font-extrabold mr-1"></ng-icon> Ignore
            </label>
          </li>
        </ul>
        <div class="text-xs italic mt-1">*Applicable only to hunts spanning 3 days or less.</div>
      </div>

    </div>
  </form>
</gawmas-drawer>
