<div class="flex px-2 py-2 mb-0 scroll-container z-100">

  @if (isLoading$ | async) {
    <button disabled type="button" class="btn btn-loading">
      <svg aria-hidden="true" role="status" class="inline w-4 h-4 mr-2 animate-spin text-gray-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
        <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="#1C64F2"/>
      </svg>
      Loading...
    </button>
  } @else {
    <button (click)="openFiltersDrawer()" type="button"
      class="btn btn-primary animate-jump-in animate-delay-100 animate-once">
      <ng-icon name="heroMagnifyingGlass" class="mr-1 text-lg"></ng-icon>
      <span class="sr-only">Applied Filter Count</span>
      Search
      @if (filterCount() > 0) {
        <div class="count-badge">
          {{ filterCount() }}
        </div>
      }
    </button>
  }

  <form [formGroup]="sortForm" class="mr-1.5">
    <select formControlName="sort" class="select">
      <option disabled>[Sort Results]</option>
      <option value="">WMA Name &amp; Season</option>
      <option value="success">Success Rate</option>
      <option value="hunters">Hunter Count</option>
    </select>
  </form>

  <!-- <span class="text-white">{{ filterForm.value | json }}</span> -->

  @if ((filter$ | async); as filters) {

    <!-- <span class="text-white">{{ filters | json }}</span> -->

    @if (filters.successRate! > 0) {
      <span class="chip chip-selected-filter chip-success hidden md:inline-flex">
        Success Rate &gt; {{ filters.successRate }}&percnt;
        <div (mouseover)="showRemoveFilterTooltip('successRate', 'hover', $event)" class="pt-1 inline-flex items-center">
          <a class="cursor-pointer" (click)="removeNonCheckboxFilter('successRate')">
            <ng-icon name="heroXMark" class="text-xl font-extrabold"></ng-icon>
          </a>
          <div id="successRate" role="tooltip" class="gawmas-tooltip tooltip">
            Remove <span class="italic">'Success rate &gt; {{ filters.successRate }}'</span> from filters.
            <div class="tooltip-arrow" data-popper-arrow></div>
          </div>
        </div>
      </span>
    }

    @if (filters.isBonusQuota) {
      <span class="chip chip-selected-filter chip-quota hidden md:inline-flex">
        Quota/Bonus
        <div (mouseover)="showRemoveFilterTooltip('quotaBonus', 'hover', $event)" class="pt-1 inline-flex items-center">
          <a class="cursor-pointer" (click)="removeNonCheckboxFilter('isBonusQuota')">
            <ng-icon name="heroXMark" class="text-xl font-extrabold"></ng-icon>
          </a>
          <div id="quotaBonus" role="tooltip" class="gawmas-tooltip tooltip">
            Remove <span class="italic">'Quota/Bonus'</span> from filters.
            <div class="tooltip-arrow" data-popper-arrow></div>
          </div>
        </div>
      </span>
    }

    @if (filters.isStatePark) {
      <span class="chip chip-selected-filter hidden md:inline-flex">
        State Park
        <div (mouseover)="showRemoveFilterTooltip('statePark', 'hover', $event)" class="pt-1 inline-flex items-center">
          <a class="cursor-pointer" (click)="removeNonCheckboxFilter('isStatePark')">
            <ng-icon name="heroXMark" class="text-xl font-extrabold"></ng-icon>
          </a>
          <div id="statePark" role="tooltip" class="gawmas-tooltip tooltip">
            Remove <span class="italic">'State Park'</span> from filters.
            <div class="tooltip-arrow" data-popper-arrow></div>
          </div>
        </div>
      </span>
    }

    @if (filters.isVpa) {
      <span class="chip chip-selected-filter hidden md:inline-flex">
        VPA
        <div (mouseover)="showRemoveFilterTooltip('vpa', 'hover', $event)" class="pt-1 inline-flex items-center">
          <a class="cursor-pointer" (click)="removeNonCheckboxFilter('isVpa')">
            <ng-icon name="heroXMark" class="text-xl font-extrabold"></ng-icon>
          </a>
          <div id="vpa" role="tooltip" class="gawmas-tooltip tooltip">
            Remove <span class="italic">'VPA'</span> from filters.
            <div class="tooltip-arrow" data-popper-arrow></div>
          </div>
        </div>
      </span>
    }

    @if (filters.avgTemp !== '0') {
      <span class="chip chip-selected-filter hidden md:inline-flex">
        {{ +filters.avgTemp! | tempDepartLabel }}
        <div (mouseover)="showRemoveFilterTooltip('avgTemp', 'hover', $event)" class="pt-1 inline-flex items-center">
          <a class="cursor-pointer" (click)="removeNonCheckboxFilter('avgTemp')">
            <ng-icon name="heroXMark" class="text-xl font-extrabold"></ng-icon>
          </a>
          <div id="avgTemp" role="tooltip" class="gawmas-tooltip tooltip">
            Remove average temperature variance from filters.
            <div class="tooltip-arrow" data-popper-arrow></div>
          </div>
        </div>
      </span>
    }

    @if (filters.phase !== '') {
      <span class="chip chip-selected-filter chip-phase hidden md:inline-flex">
        @switch (filters.phase) {
          @case ('new') {
            <object data="/assets/lunar-svg/new.svg" type="image/svg+xml" class="w-[28px] h-[28px]"></object> New Moon
          } @case ('first') {
            <object data="/assets/lunar-svg/first-qtr.svg" type="image/svg+xml" class="w-[28px] h-[28px]"></object> First Quarter
          } @case ('last') {
            <object data="/assets/lunar-svg/last-qtr.svg" type="image/svg+xml" class="w-[28px] h-[28px]"></object> Last Quarter
          } @case ('full') {
            <object data="/assets/lunar-svg/full.svg" type="image/svg+xml" class="w-[28px] h-[28px]"></object> Full Moon
          } @default {
            Something funny goin' on.
          }
        }
        <div (mouseover)="showRemoveFilterTooltip('moonPhase', 'hover', $event)" class="pt-1 inline-flex items-center">
          <a class="cursor-pointer" (click)="removeNonCheckboxFilter('phase')">
            <ng-icon name="heroXMark" class="text-xl font-extrabold"></ng-icon>
          </a>
          <div id="moonPhase" role="tooltip" class="gawmas-tooltip tooltip">
            Remove moon phase from filters.
            <div class="tooltip-arrow" data-popper-arrow></div>
          </div>
        </div>
      </span>
    }

    @if (auxData$ | async; as auxData) {

      @for (wmaId of filters.wmas; track wmaId) {
        <span class="chip chip-selected-filter hidden md:inline-flex">
          {{ wmaId | filterObjName: auxData.wmas }}
          <div (mouseover)="showRemoveFilterTooltip(wmaId.toString(), 'hover', $event)" class="pt-1 inline-flex items-center">
            <a class="cursor-pointer hover:text-cyan-800" (click)="removeCheckboxFilter(wmaId, 'wmas')">
              <ng-icon name="heroXMark" class="text-xl font-extrabold"></ng-icon>
            </a>
            <div id="{{ wmaId }}" role="tooltip" class="gawmas-tooltip tooltip">
                Remove  <span class="italic">'{{ wmaId | filterObjName: auxData.wmas }}'</span> from filters.
                <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
          </div>
        </span>
      }

      @for (seasonId of filters.seasons; track seasonId) {
        <span class="chip chip-selected-filter hidden md:inline-flex">
          {{ seasonId | filterObjName: auxData.seasons }}
          <div (mouseover)="showRemoveFilterTooltip(seasonId.toString(), 'hover', $event)" class="pt-1 inline-flex items-center">
            <a class="cursor-pointer hover:text-cyan-800" (click)="removeCheckboxFilter(seasonId, 'seasons')">
              <ng-icon name="heroXMark" class="text-xl font-extrabold"></ng-icon>
            </a>
              <div id="{{ seasonId }}" role="tooltip" class="gawmas-tooltip tooltip">
              Remove <span class="italic">'{{ seasonId | filterObjName: auxData.seasons }}'</span> filters.
              <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
          </div>
        </span>
      }

      @for (weaponId of filters.weapons; track weaponId) {
        <span class="chip chip-selected-filter hidden md:inline-flex">
          {{ weaponId | filterObjName: auxData.weapons }}
          <div (mouseover)="showRemoveFilterTooltip(weaponId.toString(), 'hover', $event)" class="pt-1 inline-flex items-center">
            <a class="cursor-pointer hover:text-cyan-800" (click)="removeCheckboxFilter(weaponId, 'weapons')">
              <ng-icon name="heroXMark" class="text-xl font-extrabold"></ng-icon>
            </a>
            <div id="{{ weaponId }}" role="tooltip" class="gawmas-tooltip tooltip">
              Remove <span class="italic">'{{ weaponId | filterObjName: auxData.weapons }}'</span> from filters.
              <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
          </div>
        </span>
      }

    }
}

</div>

<gawmas-drawer #filterDrawer [targetElement]="filterDrawerTarget">

  <form class="form" [formGroup]="filterForm">
    <div class="flex items-center ml-3 mt-4 lg:border-b lg:border-gray-500 pb-2">
      <h3 class="hidden lg:flex-1 md:block lg:block text-xl font-semibold text-gray-200 align-baseline pl-3">
        Filter Hunt Results
      </h3>
      <div class="flex md:pr-2 md:ml-3">
        <button (click)="apply()" type="button" class="btn btn-primary">
          <ng-icon name="heroBolt" class="mr-1 text-lg"></ng-icon>
          <span class="sr-only">Notifications</span>
          Apply
          @if (filterCount() > 0) {
            <div class="count-badge">
              {{ filterCount() }}
            </div>
          }
        </button>
          <button (click)="clearFilters()" [disabled]="filterCount() === 0" type="button" class="btn btn-danger">
            Clear
          </button>
        <button (click)="cancel()" type="button" class="btn btn-default">
          Cancel
        </button>
      </div>
    </div>
    <div class="m-2 pt-0 grid grid-cols-1 gap-0 lg:grid-cols-2 lg:gap-2">

      <div class="p-4 text-left text-gray-300">

        <div class="grid grid-cols-2 gap-1 mb-2">
          <label class="relative inline-flex items-center cursor-pointer">
            <input formControlName="isStatePark" type="checkbox" value="" class="sr-only peer">
            <div class="toggle peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 rounded-full peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white"></div>
            <span class="ms-2 text-sm font-medium text-gray-300">State Park</span>
          </label>
          <label class="relative inline-flex items-center cursor-pointer">
            <input formControlName="isVpa" type="checkbox" value="" class="sr-only peer">
            <div class="toggle peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 rounded-full peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white"></div>
            <span class="ms-2 text-sm font-medium text-gray-300">VPA</span>
          </label>
        </div>
        <div class="grid grid-cols-1">
          <label class="relative inline-flex items-center cursor-pointer">
            <input formControlName="isBonusQuota" type="checkbox" value="" class="sr-only peer">
            <div class="toggle peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 rounded-full peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white"></div>
            <span class="ms-2 text-sm font-medium text-gray-300">Quota/Bonus Hunt</span>
          </label>
        </div>

        <div class="mt-2 flex justify-start items-center">
          <div><ng-icon name="heroMapPin" class="font-extrabold"></ng-icon></div>
          <div class="font-bold pb-1 pl-1">WMAs</div>
        </div>
        @if (filterForm.controls['isStatePark'].value === false && filterForm.controls['isVpa'].value === false) {
          <div class="relative mb-1">
            <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
              <svg class="w-4 h-4 text-gray-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 20 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
              </svg>
            </div>
            <input formControlName="wmaFilter" type="search"
              class="block w-full h-2 p-4 ps-10 text-xs italic text-gray-300 placeholder:text-gray-300 border border-gray-500 rounded-md bg-gray-600 focus:ring-blue-500 focus:border-blue-500"
              placeholder="Search WMAs by name...">
            <div class="text-gray-300 h-2 absolute end-2 bottom-5 text-xs">
              @if (filterForm.controls['wmaFilter'].value.length > 0) {
                <a class="cursor-pointer hover:text-white" (click)="clearSearch()">
                  <ng-icon name="heroXMark" class="text-xl font-extrabold"></ng-icon>
                </a>
              }
            </div>
          </div>
        }
        <div class="h-48 lg:h-40 overflow-y-auto rounded-md border border-gray-500 pt-2 overflow-x-hidden">
          @if (noFilteredWmasFound()) {
            <div class="w-full text-red-500 text-xs italic pl-2">
              No WMAs found matching your search criteria.
            </div>
          }
          <div formArrayName="wmas" *ngFor="let wma of (filterForm | formArray: 'wmas')?.controls; let i = index"
            class="flex items-center">
            <label for="wma{{ i }}" class="ml-2  text-sm whitespace-nowrap align-baseline"
            [ngClass]="{
              'text-gray-300': (filterForm | formArray: 'wmas')?.at(i)?.value === false,
              'text-gawmas-yeller': (filterForm | formArray: 'wmas')?.at(i)?.value === true,
              'hidden': !auxData.filteredWmas[i].visible
            }">
              <input [formControlName]="i" id="wma{{ i }}" type="checkbox"
                [ngClass]="{ 'hidden': !auxData.filteredWmas[i].visible }"
                class="h-4 w-4 text-blue-600 focus:ring-blue-500 border-gray-300 rounded mb-1">
              {{ auxData.filteredWmas[i].name }}
            </label>
          </div>
        </div>
        <!-- {{ auxData.filteredWmas | json }} -->
        @if (selectedWmasCount() > 0) {
          <div class="text-sm text-gawmas-yeller font-bold italic text-right">
            {{ selectedWmasCount() }} selected</div>
        }

        <div class="mt-2 flex justify-start items-center">
          <div><ng-icon name="heroCalendar" class="font-extrabold"></ng-icon></div>
          <div class="font-bold pb-1 pl-1">Seasons</div>
        </div>
        <div class="h-20 overflow-y-auto rounded-md border border-gray-500 pt-2 lg:h-32">
          <div formArrayName="seasons" *ngFor="let s of (filterForm | formArray: 'seasons')?.controls; let i = index"
            class="flex items-center">
            <label for="s{{ i }}" class="ml-2 inline-block text-sm whitespace-nowrap align-baseline" [ngClass]="{
              'text-gray-300': (filterForm | formArray: 'seasons')?.at(i)?.value === false,
              'text-gawmas-yeller': (filterForm | formArray: 'seasons')?.at(i)?.value === true
            }">
              <input [formControlName]="i" id="s{{ i }}" type="checkbox"
                class="h-4 w-4 text-blue-600 focus:ring-blue-500 border-gray-300 rounded inline-block mb-1">
              {{ auxData.seasons[i].season }}
            </label>
          </div>
        </div>

        <div class="mt-2 flex justify-start items-center">
          <div><ng-icon name="heroWrenchScrewdriver" class="font-extrabold"></ng-icon></div>
          <div class="font-bold pb-1 pl-1">Weapons</div>
        </div>
        <div class="h-20 overflow-y-auto rounded-md border border-gray-500 pt-2 lg:h-24">
          <div formArrayName="weapons" *ngFor="let w of (filterForm | formArray: 'weapons')?.controls; let i = index"
            class="flex items-center">
            <label for="w{{ i }}" class="ml-2 inline-block text-sm whitespace-nowrap align-baseline" [ngClass]="{
              'text-gray-300': (filterForm | formArray: 'weapons')?.at(i)?.value === false,
              'text-gawmas-yeller': (filterForm | formArray: 'weapons')?.at(i)?.value === true
            }">
              <input [formControlName]="i" id="w{{ i }}" type="checkbox"
                class="h-4 w-4 text-blue-600 focus:ring-blue-500 border-gray-300 rounded inline-block mb-1">
              {{ auxData.weapons[i].name }}
            </label>
          </div>
        </div>
      </div>

      <div class="p-4 pt-1 mb-12 text-left text-gray-300">

        <div class="mt-2 flex justify-start items-center">
          <div><ng-icon name="heroChartPie" class="font-extrabold"></ng-icon></div>
          <div class="font-bold pb-1 pl-1">
            Success Rate
            <span class="text-sm font-normal italic">
              (&gt;&equals;
              <span class="font-bold text-gawmas-yeller text-sm">
                {{ filterForm.controls['successRate'].value + '%' }}</span>)
            </span>
          </div>
        </div>
        <div class="relative mb-7">
          <input formControlName="successRate" id="labels-range-input" type="range" value="0" step="5" min="0" max="100"
            class="w-full h-2 bg-gray-300 rounded-lg appearance-none cursor-pointer">
          <span class="text-xs text-gray-400 absolute start-0 -bottom-4 ml-2 mt-0 font-bold">0%</span>
          <span class="text-xs text-gray-400 absolute end-0 -bottom-4 mr-1 mt-0 font-bold">100%+</span>
        </div>

        <div class="mt-2 flex justify-start items-center mb-2">
          <div><ng-icon name="heroSun" class="font-extrabold"></ng-icon></div>
          <div class="font-bold pb-1 pl-1">Average Temperatures</div>
        </div>

        <div class="w-full text-sm grid grid-cols-1 divide-y border border-gray-300 rounded-md">
          <div class="w-full">
            <input id="tempSigWarmer" formControlName="avgTemp" type="radio" value="2" class="hidden peer" />
            <label for="tempSigWarmer"
              class="w-full p-2 flex items-center cursor-pointer bg-gray-700 hover:bg-gray-800 peer-checked:bg-blue-600 rounded-t-md">
                <ng-icon *ngIf="filterForm.controls['avgTemp'].value === '2'"
                  name="heroCheck" class="mr-1 font-extrabold"></ng-icon>
                    Significantly warmer than average.
            </label>
          </div>
          <div class="w-full border-none">
            <input id="tempSlightWarmer" formControlName="avgTemp" type="radio" value="1" class="hidden peer" />
            <label for="tempSlightWarmer"
              class="w-full p-2 flex items-center cursor-pointer bg-gray-700 hover:bg-gray-800 peer-checked:bg-blue-600">
              <ng-icon *ngIf="filterForm.controls['avgTemp'].value === '1'"
                name="heroCheck" class="mr-1 font-extrabold"></ng-icon>
                  Slightly warmer than average.
            </label>
          </div>
          <div class="w-full border-none">
            <input id="tempNoDepart" formControlName="avgTemp" type="radio" value="0" class="hidden peer" />
            <label for="tempNoDepart"
              class="w-full p-2 flex items-center cursor-pointer bg-gray-700 hover:bg-gray-800 hover:text-gray-200 peer-checked:bg-blue-600">
                <ng-icon *ngIf="filterForm.controls['avgTemp'].value === '0'"
                  name="heroCheck" class="mr-1 font-extrabold"></ng-icon>
                    Neither warmer nor cooler than average.
            </label>
          </div>
          <div class="w-full border-none">
            <input id="tempSlightCooler" formControlName="avgTemp" type="radio" value="-1" class="hidden peer" />
            <label for="tempSlightCooler"
              class="w-full p-2 flex items-center cursor-pointer bg-gray-700 hover:bg-gray-800 peer-checked:bg-blue-600">
                <ng-icon *ngIf="filterForm.controls['avgTemp'].value === '-1'"
                  name="heroCheck" class="mr-1 font-extrabold"></ng-icon>
                    Slightly cooler than average.
            </label>
          </div>
          <div class="w-full border-none">
            <input id="tempSigCooler" formControlName="avgTemp" type="radio" value="-2" class="hidden peer" />
            <label for="tempSigCooler"
              class="w-full p-2 flex items-center cursor-pointer bg-gray-700 hover:bg-gray-800 peer-checked:bg-blue-600 rounded-b-md">
                <ng-icon *ngIf="filterForm.controls['avgTemp'].value === '-2'"
                  name="heroCheck" class="mr-1 font-extrabold"></ng-icon>
                    Signficantly cooler than average.
            </label>
          </div>
        </div>

        <div class="mt-4 flex justify-start items-center">
          <div>
            <ng-icon name="heroMoon" class="font-extrabold"></ng-icon>
          </div>
          <div class="font-bold pb-1 pl-1">Lunar Phase*</div>
        </div>
        <div class="text-xs italic mb-1">*Applicable only to hunts spanning 3 days or less.</div>

        <ul class="grid grid-cols-5 gap-0 border border-gray-200 rounded-md">
          <li class="w-full">
            <input id="new" type="radio" formControlName="phase" value="new" class="hidden peer">
            <label for="new"
              class="w-full max-h-[40px] min-h-[40px] p-2 flex items-center justify-center rounded-l-md bg-gray-700 cursor-pointer peer-checked:bg-blue-600 hover:bg-gray-800">
              <object data="/assets/lunar-svg/new.svg" type="image/svg+xml" class="w-[28px] h-[28px]"></object>
              <div class="hidden md:block text-xs xl:whitespace-nowrap">New Moon</div>
            </label>
          </li>
          <li class="w-full">
            <input type="radio" id="first" formControlName="phase" value="first" class="hidden peer">
            <label for="first"
              class="w-full max-h-[40px] min-h-[40px] p-2 flex items-center justify-center bg-gray-700 cursor-pointer peer-checked:bg-blue-600 hover:bg-gray-800">
              <object data="/assets/lunar-svg/first-qtr.svg" type="image/svg+xml" class="w-[28px] h-[28px]"></object>
              <div class="hidden md:block text-xs xl:whitespace-nowrap">First Quarter</div>
            </label>
          </li>
          <li class="w-full">
            <input type="radio" id="last" formControlName="phase" value="last" class="hidden peer">
            <label for="last"
              class="w-full max-h-[40px] min-h-[40px] p-2 flex items-center justify-center bg-gray-700 cursor-pointer peer-checked:bg-blue-600 hover:bg-gray-800">
              <object data="/assets/lunar-svg/last-qtr.svg" type="image/svg+xml" class="w-[28px] h-[28px]"></object>
              <div class="hidden md:block text-xs xl:whitespace-nowrap">Last Quarter</div>
            </label>
          </li>
          <li class="w-full">
            <input type="radio" id="full" formControlName="phase" value="full" class="hidden peer">
            <label for="full"
              class="w-full max-h-[40px] min-h-[40px] p-2 flex items-center justify-center bg-gray-700 cursor-pointer peer-checked:bg-blue-600 hover:bg-gray-800">
              <object data="/assets/lunar-svg/full.svg" type="image/svg+xml" class="w-[28px] h-[28px]"></object>
              <div class="hidden md:block text-xs xl:whitespace-nowrap">Full Moon</div>
            </label>
          </li>
          <li class="w-full">
            <input type="radio" id="ignore" formControlName="phase" value="" class="hidden peer">
            <label for="ignore"
              class="w-full max-h-[40px] min-h-[40px] flex items-center justify-center p-3 rounded-r-md text-gray-200 italic text-sm bg-gray-700 cursor-pointer peer-checked:bg-blue-600 peer-checked:text-white hover:bg-gray-800">
              <ng-icon name="heroNoSymbol" class="font-extrabold mr-1"></ng-icon>
              <div class="hidden md:block text-xs xl:whitespace-nowrap">Ignore</div>
            </label>
          </li>
        </ul>


        <div class="font-semibold italic text-gawmas-yeller text-sm md:hidden ml-2">
          @switch(filterForm.controls['phase'].value) {
            @case( 'new') {
              New Moon
            } @case ('first') {
              First Quarter
            } @case ('last') {
              Last Quarter
            } @case ('full') {
              Full Moon
            } @default {
              Ignore Moon Phase
            }
          }
        </div>

      </div>
      <!-- <pre>{{ filterForm.value | json }}</pre> -->
    </div>
  </form>
</gawmas-drawer>
