<hunt-filters />

<!-- <p>{{ filter$ | async | json }}</p> -->
<table class="w-[100%] text-sm text-left bg-gray-900 text-gray-400 mb-12">
  <thead class="text-xs text-gray-700 uppercase bg-gray-800 border-gray-400 border-b-2 border-t-1">
    <tr>
      <th scope="col" class="px-6 py-3 w-20 text-gray-400">WMA</th>
      <th scope="col" class="px-6 py-3 w-20 text-gray-400">Season</th>
      <th scope="col" class="px-6 py-3 w-20 text-gray-400">Dates</th>
      <th scope="col" class="px-6 py-3 w-20 text-gray-400">Results</th>
      <th scope="col" class="px-6 py-3 w-20 text-gray-400">Weather</th>
    </tr>
  </thead>
  <tbody>
    @if ((hunts$ | async); as hunts) {
      @for (hunt of hunts; track hunt.id) {
        <tr class="border-b bg-gray-800 border-gray-600">
          <th scope="row" class="px-6 py-4 align-top font-bold text-gray-100 bg-gray-800">
            {{ hunt.wmaName }}
          </th>
          <td class="px-6 py-4 align-top bg-gray-800">
            <div>{{ hunt.season }}</div>
            <div class="font-bold">{{ hunt.weapon }}</div>
            <div>{{ hunt.details }}</div>
            @if (hunt.quota) { <div>{{ hunt.quota }}</div> }
          </td>
          <td class="px-6 py-4 align-top bg-gray-800">
            {{ hunt.startDate | date: 'MM/dd' }} - {{ hunt.endDate | date: 'MM/dd' }}
          </td>
          <td class="px-6 py-4 align-top bg-gray-800">
            <div>Hunters: {{ hunt.hunterCount }}</div>
            <div>Bucks: {{ hunt.bucks }}</div>
            <div>Does: {{ hunt.does }}</div>
            <div class="font-bold">
              Success Rate: <span class="{{ hunt | successRateColor }}">
                {{ hunt | successRate }}%</span>
            </div>
          </td>
          <td class="px-6 py-4 align-top bg-gray-800">
            huntId: {{ hunt.id }}
          </td>
        </tr>
      } @empty {
        <tr class="bg-gray-800 border-b border-gray-700">
          <td colspan="5" class="px-6 py-4 text-center text-red-500">
            <div class="mt-2 text-sm flex items-center italic">
              <ng-icon name="heroFaceFrown" class="mr-1"></ng-icon> No results found.
            </div>
          </td>
        </tr>
      }
    }
  </tbody>
</table>
