@if (!isModal()) {
  <gawmas-hunt-filters />
}

<gawmas-wx-details #wxDetailsModal />

@if (isLoading$ | async) {
  <gawmas-loading />
}

<table class="w-[100%] text-sm text-left text-gray-300 -pt-2">
  @if (screenWidth() > 1000) {
    <thead class="text-xs text-gray-400 uppercase bg-gray-800 border-gray-400 border-b-2 border-t-1">
      <tr>
        <th scope="col" class="px-6 py-3">{{ isModal() ? 'Weapon, &amp; Details' : 'Property, Season, Weapon, &amp; Details' }}</th>
        <th scope="col" class="px-6 py-3 w-[200px]">Dates</th>
        <th scope="col" class="px-6 py-3 w-[150px] text-center">Results</th>
        <th scope="col" class="px-6 py-3 w-[300px] text-center">Weather</th>
      </tr>
    </thead>
    <tbody>
      @if ((hunts$ | async); as hunts) {
        @for (hunt of hunts; track $index) {
          <tr class="border-b bg-gray-800 border-gray-500">
            <td class="px-6 py-4 align-top bg-gray-800">
              <div class="flex flex-wrap items-center mb-1">
                @if (isAdmin()) {
                  <a routerLink="/admin" [queryParams]="{ h: hunt.id }">
                    <ng-icon name="heroPencilSquare" class="mr-1"></ng-icon>
                  </a>
                }
                @if (!isModal()) {
                  @if (hunt.physLat && hunt.physLong) {
                    <a href="https://www.google.com/maps/search/?api=1&query={{ hunt.physLat }},{{ hunt.physLong }}" target="_blank">
                      <ng-icon name="heroMapPin" class="mr-1"></ng-icon>
                    </a>
                  }
                  <div class="text-white font-bold uppercase mr-1">
                    {{ hunt.wmaName }}
                    <!-- ({{ hunt.id }}) -->
                  </div>
                }

                <span class="chip result-chip"
                  [class.chip-firearm]="hunt.weapon === 'Firearms' || hunt.weapon === 'Buckshot Only'"
                  [class.chip-archery]="hunt.weapon === 'Archery'"
                  [class.chip-primitive]="hunt.weapon === 'Primitive'">
                  {{ hunt.weapon }}
                </span>

              </div>

              <div>

                @if (hunt.quota) {
                  <span class="chip result-chip chip-quota">
                    Quota: {{ hunt.quota }}
                  </span>
                }

                <span class="mt-1 pl-1 text-xs" [innerHTML]="hunt.details | detailsHighlight"></span>
              </div>

            </td>
            <td class="px-5 py-4 align-top bg-gray-800">
              @for (date of hunt.huntDates; track date.start) {
                <div class="mx-1 uppercase">
                  {{ date.start | date: 'MMM d' }} &ndash; {{ date.end | date: 'MMM d' }}
                </div>
              }
              @if (!isModal()) {
                <span class="chip result-chip chip-season">
                  {{ hunt.season }}
                </span>
              }
            </td>
            <td class="px-6 align-top bg-gray-900">
              <table class="w-full mt-1 mb-1">
                <tr>
                  <td class="px-2 uppercase text-xs font-semibold text-right text-gray-400 border-r border-gray-600">Hunters</td>
                  <td class="px-2 flex items-center">
                      <div>{{ hunt.hunterCount }}</div>
                      @if (hunt.hunterDensity && hunt.hunterDensity <= 50) {
                        <ng-icon (mouseover)="showTooltip(hunt.id.toString(), 'hover', $event)" name="heroExclamationTriangle" class="ml-1"></ng-icon>
                        <div id="{{ hunt.id }}" role="tooltip"
                          class="absolute z-10 invisible inline-block px-3 py-2 text-xs font-medium text-gray-800 transition-opacity duration-300 bg-gray-300 rounded-full shadow-sm opacity-0 tooltip">
                            High hunter density: 1 hunter for every ~{{ hunt.hunterDensity }} acres
                          <div class="tooltip-arrow" data-popper-arrow></div>
                        </div>
                      }
                  </td>
                </tr>
                <tr>
                  <td class="px-2 uppercase text-xs font-semibold text-right text-gray-400 border-r border-gray-600">Bucks</td>
                  <td class="px-2">{{ hunt.bucks }}</td>
                </tr>
                <tr>
                  <td class="px-2 uppercase text-xs font-semibold text-right text-gray-400 border-r border-gray-600">Does</td>
                  <td class="px-2">{{ hunt.does }}</td>
                </tr>
                <tr class="border-t border-gray-600">
                  <td colspan="2" class="px-2 uppercase text-xs font-semibold text-gray-400 text-center whitespace-nowrap">Success Rate</td>
                </tr>
                <tr>
                  <td colspan="2" class="px-2 font-bold text-center text-sm {{ hunt | successRateColor }}">
                    {{ hunt | successRate }}&percnt;
                  </td>
                </tr>
              </table>
            </td>
            <td class="px-4 py-2 align-top">

              @if (hunt.wxDetails) {
                @switch (hunt.wxDetails[0] | wxDetailType) {
                  @case ('summary') {
                    <div class="w-full uppercase text-xs flex items-center border-b border-gray-500 mb-2 pb-1">
                      <span class="font-semibold ml-2">Observed Average Temperatures</span>
                    </div>
                    @for (wx of $any(hunt.wxDetails); track wx.ident; let i = $index) {
                      <div class="w-full uppercase text-xs">
                        <div class="flex items-center uppercase font-bold text-xs border-b border-gray-700">
                          <span class="italic ml-2 text-gray-400 pb-1">
                            {{ wx.start | date: 'MMM d' }} &ndash; {{ wx.end | date: 'MMM d' }}
                          </span>
                        </div>
                        <div class="flex items-center m-auto py-1 mb-3">
                          @if ((wx.avgMaxTemp | wxAvgTempDeparture:true:wx.start:hunt.wxHistAvgs!); as maxDepart) {
                            <span class="font-semibold px-2 text-gray-400">High:</span>
                            @if (maxDepart.msg?.length) {
                              <span [class]="maxDepart.class"
                                (mouseover)="showTooltip(i + '' + wx.ident + 'high', 'hover', $event)">
                                  {{ wx.avgMaxTemp }}&deg;
                              </span>
                              <div id="{{ i }}{{ wx.ident }}high" role="tooltip" class="gawmas-tooltip tooltip" [innerHTML]="maxDepart.msg">
                              </div>
                            } @else {
                              <span [class]="maxDepart.class">
                                {{ wx.avgMaxTemp }}&deg;
                              </span>
                            }
                          }
                          @if ((wx.avgMinTemp | wxAvgTempDeparture:false:wx.start:hunt.wxHistAvgs!); as minDepart) {
                            <span class="font-semibold px-2 text-gray-400">Low:</span>
                            @if (minDepart.msg?.length) {
                              <span [class]="minDepart.class"
                                (mouseover)="showTooltip(i + '' + wx.ident + 'low', 'hover', $event)">
                                  {{ wx.avgMinTemp }}&deg;
                              </span>
                              <div id="{{ i }}{{ wx.ident }}low" role="tooltip" class="gawmas-tooltip tooltip" [innerHTML]="minDepart.msg">
                              </div>
                            } @else {
                              <span [class]="minDepart.class">
                                {{ wx.avgMinTemp }}&deg;
                              </span>
                            }
                          }
                        </div>
                      </div>
                    }
                    <div class="text-xs text-gray-500 pl-2 flex items-center italic">
                      &#64; {{ $any(hunt.wxDetails[0]).location }}, GA
                    </div>
                  }
                  @case ('detailed') {
                    <!-- {{ hunt.wxDetails | json }} -->
                    <div class="w-full uppercase text-xs flex items-center border-b border-gray-500 mb-2 pb-1">
                      <span class="font-semibold ml-2">Observed Conditions</span>
                    </div>
                    <div class="w-full flex items-center font-bold uppercase mb-3">
                      @for (wx of $any(hunt.wxDetails); track wx.ident; let i = $index, last = $last) {
                        <div class="p-1 text-xs text-gray-400 {{ hunt.wxDetails.length < 3 ? 'w-1/2' : 'w-1/3' }} {{ !last ? 'border-r border-gray-400' : 'border-none' }}">
                          <div class="flex-none italic text-center">
                            {{ wx.date | date: 'EEE' }}, {{ wx.date | date: 'MM/dd' }}
                          </div>
                          <div class="flex justify-center items-center">
                            <object [data]="wx.middayIcon | wxCondIcon | safe"
                              type="image/svg+xml" class="w-[50px] h-[50px]"
                              (mouseover)="showTooltip(i + '' + wx.ident + 'cond', 'hover', $event)"></object>
                            <div id="{{ i }}{{ wx.ident }}cond" role="tooltip" class="gawmas-tooltip tooltip" [innerHTML]="wx.middayDescr"></div>
                          </div>
                          <div class="flex-none text-center">
                            <div>
                              <span class="px-2">High:</span>
                              <span class="font-normal text-gray-200">{{ wx.high }}&deg;</span>
                            </div>
                            <div>
                              <span class="px-2">Low:</span>
                              <span class="font-normal text-gray-200">{{ wx.low }}&deg;</span>
                            </div>
                          </div>
                        </div>
                      }
                    </div>
                    <div class="text-xs text-gray-500 pl-2 flow-root">
                      <div class="float-left pt-1 italic">&#64; {{ $any(hunt.wxDetails[0]).location }}, GA</div>
                      <div class="float-right">
                        <button type="button" (click)="openWxDetails(hunt.id, hunt.huntDates, $any(hunt.wxDetails[0]).location, hunt.hunterCount, hunt.bucks, hunt.does, hunt.weapon)"
                          class="px-2 py-1 text-xs uppercase font-medium text-center inline-flex items-center text-white rounded-full focus:ring-1 focus:outline-none bg-gray-600 hover:bg-gray-700 focus:ring-white">
                            <ng-icon name="heroArrowTopRightOnSquare" class="w-4 h-4 mr-1"></ng-icon>
                              More Details
                        </button>
                      </div>
                    </div>
                  }
                  @default {
                    <span class="text-gray-400">
                      No weather details found.
                    </span>
                  }
                }
              }
              <!-- {{ hunt.wxHistAvgs | json }} -->
            </td>
          </tr>
        } @empty {
          <tr class="bg-gray-800 border-b border-gray-700">
            <td colspan="4" class="px-8 py-8 text-gawmas-yeller">
              <div class="flex justify-center">
                @if (!(isLoading$ | async)) {
                  <div class="mt-2 flex items-center italic">
                    <ng-icon name="heroFaceFrown" class="mr-1"></ng-icon>
                    <span class="sr-only">Sad face icon</span>
                    <div>
                      <span class="font-medium">No results found</span>.
                    </div>
                  </div>
                }
              </div>
            </td>
          </tr>
        }
      }
    </tbody>

} @else {

    <thead class="sr-only">
      <tr>
        <th scope="col" class="px-6 py-3">&nbsp;</th>
        <th scope="col" class="px-6 py-3">Results</th>
        <th scope="col" class="px-6 py-3">Weather</th>
      </tr>
    </thead>
    <tbody>
      @if ((hunts$ | async); as hunts) {
        @for (hunt of hunts; track hunt.id) {
          <tr class="bg-gray-800">
            <td colspan="2" class="px-2 pt-2 align-top">
              <div class="flex flex-wrap items-center">
                <div class="text-white font-bold uppercase mr-1">
                  {{ hunt.wmaName }}
                </div>
                @switch (hunt.weapon) {
                  @case ('Firearms') {
                    <span class="uppercase text-xs font-medium me-2 px-2.5 py-0.5 rounded-full bg-gray-700 text-gray-300">
                      {{ hunt.weapon }}
                    </span>
                  }
                  @case ('Archery') {
                    <span class="uppercase text-xs font-medium me-2 px-2.5 py-0.5 rounded-full bg-green-900 text-green-300">
                      {{ hunt.weapon }}
                    </span>
                  }
                  @case ('Primitive') {
                    <span class="uppercase text-xs font-medium me-2 px-2.5 py-0.5 rounded-full bg-yellow-900 text-yellow-300">
                      {{ hunt.weapon }}
                    </span>
                  }
                  @default {
                    <span class="uppercase text-xs font-medium me-2 px-2.5 py-0.5 rounded-full bg-gray-700 text-gray-300">
                      {{ hunt.weapon }}
                    </span>
                  }
                }
                <span class="text-xs font-medium me-2 px-2.5 py-0.5 rounded-full bg-blue-900 text-blue-300">
                  {{ hunt.season }}
                </span>
                @for (date of hunt.huntDates; track date.start) {
                  <span class="text-xs font-medium me-2 my-1 px-2.5 py-0.5 rounded-full bg-gray-400 text-gray-700">
                    {{ date.start | date: 'MM/dd' }} &ndash; {{ date.end | date: 'MM/dd' }}
                  </span>
                }
                @if (hunt.quota) {
                  <span class="text-sm font-medium me-2 px-2.5 py-0.5 rounded-full bg-red-900 text-red-300">
                    <span class="text-xs uppercase">Quota:</span> <span>{{ hunt.quota }}</span>
                  </span>
                }
              </div>
              <div class="mt-1 text-xs" [innerHTML]="hunt.details | detailsHighlight"></div>
            </td>
          </tr>
          <tr class="bg-gray-800 border-b border-gray-600">
            <td class="max-w-[135px] text-xs px-2 pb-2 align-top bg-gray-900">
              <table class="mt-1 mb-1">
                <tr>
                  <td class="px-2 w-1/2 uppercase text-xs font-semibold text-right text-gray-400 border-r border-gray-600">Hunters</td>
                  <td class="px-2 w-1/2">{{ hunt.hunterCount }}</td>
                </tr>
                <tr>
                  <td class="px-2 w-1/2 uppercase text-xs font-semibold text-right text-gray-400 border-r border-gray-600">Bucks</td>
                  <td class="px-2 w-1/2">{{ hunt.bucks }}</td>
                </tr>
                <tr>
                  <td class="px-2 w-1/2 uppercase text-xs font-semibold text-right text-gray-400 border-r border-gray-600">Does</td>
                  <td class="px-2 w-1/2">{{ hunt.does }}</td>
                </tr>
                <tr class="border-t border-gray-600">
                  <td colspan="2" class="px-2 uppercase text-xs font-semibold text-gray-400 text-center whitespace-nowrap">Success Rate</td>
                </tr>
                <tr>
                  <td colspan="2" class="px-2 {{ hunt | successRateColor }} font-bold text-center text-sm">
                    {{ hunt | successRate }}&percnt;
                  </td>
                </tr>
              </table>
            </td>
            <td class="max-w-[215px] p-1 border-t border-l border-gray-600 align-top">

              @if (hunt.wxDetails) {
                @switch (hunt.wxDetails[0] | wxDetailType) {
                  @case ('summary') {
                    @for (wx of $any(hunt.wxDetails); track wx.ident; let i = $index) {
                      <div class="w-full uppercase text-xs">
                        <div class="flex items-center uppercase font-bold text-xs border-b border-gray-700">
                          <span class="italic ml-2 text-gray-400 pb-1">
                            {{ wx.start | date: 'MMM d' }} &ndash; {{ wx.end | date: 'MMM d' }}
                          </span>
                        </div>
                        <div class="flex items-center m-auto py-1 mb-3">
                          @if ((wx.avgMaxTemp | wxAvgTempDeparture:true:wx.start:hunt.wxHistAvgs!); as maxDepart) {
                            <span class="font-semibold px-2 text-gray-400">High:</span>
                            @if (maxDepart.msg?.length) {
                              <span [class]="maxDepart.class"
                                (mouseover)="showTooltip(i + '' + wx.ident + 'high', 'hover', $event)">
                                  {{ wx.avgMaxTemp }}&deg;
                              </span>
                              <div id="{{ i }}{{ wx.ident }}high" role="tooltip" class="gawmas-tooltip tooltip" [innerHTML]="maxDepart.msg">
                              </div>
                            } @else {
                              <span [class]="maxDepart.class">
                                {{ wx.avgMaxTemp }}&deg;
                              </span>
                            }
                          }
                          @if ((wx.avgMinTemp | wxAvgTempDeparture:false:wx.start:hunt.wxHistAvgs!); as minDepart) {
                            <span class="font-semibold px-2 text-gray-400">Low:</span>
                            @if (minDepart.msg?.length) {
                              <span [class]="minDepart.class"
                                (mouseover)="showTooltip(i + '' + wx.ident + 'low', 'hover', $event)">
                                  {{ wx.avgMinTemp }}&deg;
                              </span>
                              <div id="{{ i }}{{ wx.ident }}low" role="tooltip" class="gawmas-tooltip tooltip" [innerHTML]="minDepart.msg">
                              </div>
                            } @else {
                              <span [class]="minDepart.class">
                                {{ wx.avgMinTemp }}&deg;
                              </span>
                            }
                          }
                        </div>
                      </div>
                    }
                    <div class="text-xs text-gray-500 pl-2 flex items-center italic">
                      &#64; {{ $any(hunt.wxDetails[0]).location }}, GA
                    </div>
                  }
                  @case ('detailed') {
                    <div class="w-full flex items-center font-bold uppercase mb-3">
                      @for (wx of $any(hunt.wxDetails); track wx.ident; let i = $index, last = $last) {
                        <div class="p-1 text-xs text-gray-400 {{ hunt.wxDetails.length < 3 ? 'w-1/2' : 'w-1/3' }} {{ !last ? 'border-r border-gray-400' : 'border-none' }}">
                          <div class="flex-none italic text-center">
                            {{ wx.date | date: 'EEE' }}
                          </div>
                          <div class="flex-none italic text-center">
                            {{ wx.date | date: 'MM/dd' }}
                          </div>
                          <div class="flex justify-center items-center">
                            <object [data]="wx.middayIcon | wxCondIcon | safe"
                              type="image/svg+xml" class="w-[35px] h-[35px]"
                              (mouseover)="showTooltip(i + '' + wx.ident + 'cond', 'hover', $event)"></object>
                            <div id="{{ i }}{{ wx.ident }}cond" role="tooltip" class="gawmas-tooltip tooltip" [innerHTML]="wx.middayDescr"></div>
                          </div>
                          <div class="flex-none text-center">
                            <div>
                              <span class="px-2">High:</span>
                              <span class="font-normal text-gray-200">{{ wx.high }}&deg;</span>
                            </div>
                            <div>
                              <span class="px-2">Low:</span>
                              <span class="font-normal text-gray-200">{{ wx.low }}&deg;</span>
                            </div>
                          </div>
                        </div>
                      }
                    </div>
                    <div class="text-xs text-gray-500 pl-2 flow-root">
                      <div class="float-left pt-1 italic">&#64; {{ $any(hunt.wxDetails[0]).location }}, GA</div>
                      <div class="float-right">
                        <button type="button" (click)="openWxDetails(hunt.id, hunt.huntDates, $any(hunt.wxDetails[0]).location, hunt.hunterCount, hunt.bucks, hunt.does, hunt.weapon)"
                          class="px-2 py-1 text-xs uppercase font-medium text-center inline-flex items-center text-white rounded-full focus:ring-1 focus:outline-none bg-gray-600 hover:bg-gray-700 focus:ring-white">
                            <ng-icon name="heroArrowTopRightOnSquare" class="w-4 h-4 mr-1"></ng-icon>
                              More Details
                        </button>
                      </div>
                    </div>
                  }
                  @default {
                    <span class="text-gray-400">
                      No weather details found.
                    </span>
                  }
                }
              }
            </td>
          </tr>
        } @empty {
          <tr class="bg-gray-800 border-b border-gray-700">
            <td colspan="3" class="px-8 py-8 text-gawmas-yeller flex justify-center">
              <div class="mt-2 flex items-center italic">
                <ng-icon name="heroFaceFrown" class="mr-1"></ng-icon>
                <span class="sr-only">Sad face icon</span>
                <div>
                  <span class="font-medium">No results found</span>.
                </div>
              </div>
            </td>
          </tr>
        }
      }
    </tbody>
  }
</table>

@if ((isEndOfResults$ | async) && (hunts$ | async)!.length > 0 && !isModal()) {
  <div class="w-[95%] flex justify-center mt-1 mb-12 bg-gray-900 py-1">
    <div class="flex items-center text-gray-300 text-sm">
      <ng-icon name="heroCheckCircle" class="mr-1"></ng-icon>
      <span class="italic uppercase">End of results</span>
    </div>
  </div>
}



