<gawmas-hunt-filters />

<table class="w-[95%] text-sm text-left text-gray-300 -pt-2">
  @if (screenWidth() > 1000) {
    <thead class="text-xs text-gray-400 uppercase bg-gray-800 border-gray-400 border-b-2 border-t-1">
      <tr>
        <th scope="col" class="px-6 py-3">WMA &amp; Season</th>
        <th scope="col" class="px-6 py-3 w-[200px]">Dates</th>
        <th scope="col" class="px-6 py-3 w-[150px] text-center">Results</th>
        <th scope="col" class="px-6 py-3 w-[300px] text-center">Weather</th>
      </tr>
    </thead>
    <tbody>
      @if ((hunts$ | async); as hunts) {
        @for (hunt of hunts; track hunt.id) {
          <tr class="border-b bg-gray-800 border-gray-500">
            <td class="px-6 py-4 align-top bg-gray-800">
              <div class="flex flex-wrap items-center mb-1">
                @if (isAdmin) {
                  <a routerLink="/admin" [queryParams]="{ h: hunt.id }">
                    <ng-icon name="heroPencilSquare" class="mr-1"></ng-icon>
                  </a>
                }
                @if (hunt.physLat && hunt.physLong) {
                  <a href="https://www.google.com/maps/search/?api=1&query={{ hunt.physLat }},{{ hunt.physLong }}" target="_blank">
                    <ng-icon name="heroMapPin" class="mr-1"></ng-icon>
                  </a>
                }
                <div class="text-white font-bold uppercase mr-1">
                  {{ hunt.wmaName }}
                </div>
                @switch (hunt.weapon) {
                  @case ('Firearms') {
                    <span class="uppercase text-xs font-medium me-2 px-2.5 py-0.5 rounded-full bg-gray-700 text-gray-300">
                      {{ hunt.weapon }}
                    </span>
                  }
                  @case ('Archery') {
                    <span class="uppercase text-xs font-medium me-2 px-2.5 py-0.5 rounded-full bg-green-900 text-green-300">
                      {{ hunt.weapon }}
                    </span>
                  }
                  @case ('Primitive') {
                    <span class="uppercase text-xs font-medium me-2 px-2.5 py-0.5 rounded-full bg-yellow-900 text-yellow-300">
                      {{ hunt.weapon }}
                    </span>
                  }
                  @default {
                    <span class="uppercase text-xs font-medium me-2 px-2.5 py-0.5 rounded-full bg-gray-700 text-gray-300">
                      {{ hunt.weapon }}
                    </span>
                  }
                }
              </div>
              <span class="text-xs font-medium me-2 px-2.5 py-0.5 rounded-full bg-blue-900 text-blue-300">
                {{ hunt.season }}
              </span>
              @if (hunt.quota) {
                <span class="text-sm font-medium me-2 px-2.5 py-0.5 rounded-full bg-red-900 text-red-300">
                  <span class="text-xs uppercase">Quota:</span> <span>{{ hunt.quota }}</span>
                </span>
              }
              <div class="mt-1 text-xs" [innerHTML]="hunt.details | detailsHighlight"></div>
            </td>
            <td class="px-6 py-4 align-top bg-gray-800">
              @for (date of hunt.huntDates; track date) {
                <div class="mx-1">
                  {{ date.start | date: 'MMM d' }} &ndash; {{ date.end | date: 'MMM d' }}
                </div>
              }
            </td>
            <td class="px-6 align-top bg-gray-900">
              <table class="w-full mt-1 mb-1">
                <tr>
                  <td class="px-2 uppercase text-xs font-semibold text-right text-gray-400 border-r border-gray-600">Hunters</td>
                  <td class="px-2">{{ hunt.hunterCount }}</td>
                </tr>
                <tr>
                  <td class="px-2 uppercase text-xs font-semibold text-right text-gray-400 border-r border-gray-600">Bucks</td>
                  <td class="px-2">{{ hunt.bucks }}</td>
                </tr>
                <tr>
                  <td class="px-2 uppercase text-xs font-semibold text-right text-gray-400 border-r border-gray-600">Does</td>
                  <td class="px-2">{{ hunt.does }}</td>
                </tr>
                <tr class="border-t border-gray-600">
                  <td colspan="2" class="px-2 uppercase text-xs font-semibold text-gray-400 text-center whitespace-nowrap">Success Rate</td>
                </tr>
                <tr>
                  <td colspan="2" class="px-2 {{ hunt | successRateColor }} font-bold text-center text-sm">
                    {{ hunt | successRate }}&percnt;
                  </td>
                </tr>
              </table>
            </td>
            <td class="px-6 py-4 align-top border-l border-gray-600">
              <!-- {{ hunt.wxHistAvgs | json }} -->
              <div class="font-bold uppercase text-xs border-b border-gray-600 pl-2 mb-1">
                <ng-icon name="heroClock" class="mr-1"></ng-icon>
                Historical Average Temps
              </div>
              @for (w of hunt.wxHistAvgs; track w.startDate; let i = $index) {
                <div [ngClass]="{'border-b border-gray-700' : (hunt.wxHistAvgs!.length > 0 && i !== hunt.wxHistAvgs!.length - 1) }">
                  <div class="text-xs pl-2 font-semibold mb-1">{{ w.startDate | date: 'MMM dd' }} &ndash; {{ w.endDate | date: 'MMM dd' }}</div>
                  <div class="flex items-center w-full text-xs mb-1">
                    <div class="w-1/2 text-center"><span>High:</span> {{ w.avgHigh }}&deg;</div>
                    <div class="w-1/2 text-center"><span>Low:</span> {{ w.avgLow }}&deg;</div>
                  </div>
                </div>
              }
              <div class="w-full text-xs text-gray-400 border-t border-gray-600 pt-1 pl-2 mr-1 flex items-center">
                &#64; {{ hunt.climateTown }}, GA
              </div>
            </td>
          </tr>
        } @empty {
          <!-- @if () { -->
            <tr class="bg-gray-800 border-b border-gray-700">
              <td colspan="4" class="px-8 py-8 text-gawmas-yeller">
                <div class="flex justify-center">
                  <div class="mt-2 flex items-center italic">
                    <ng-icon name="heroFaceFrown" class="mr-1"></ng-icon>
                    <span class="sr-only">Sad face icon</span>
                    <div>
                      <span class="font-medium">No results found</span>.
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          <!-- } -->
        }
      }
    </tbody>

} @else {

    <thead class="sr-only">
      <tr>
        <th scope="col" class="px-6 py-3">&nbsp;</th>
        <th scope="col" class="px-6 py-3 w-[135px]">Results</th>
        <th scope="col" class="px-6 py-3 w-[300px]">Weather</th>
      </tr>
    </thead>
    <tbody>
      @if ((hunts$ | async); as hunts) {
        @for (hunt of hunts; track hunt.id) {
          <tr class="bg-gray-800">
            <td colspan="2" class="px-2 pt-2 align-top">
              <div class="flex flex-wrap items-center">
                <div class="text-white font-bold uppercase mr-1">
                  {{ hunt.wmaName }}
                </div>
                @switch (hunt.weapon) {
                  @case ('Firearms') {
                    <span class="uppercase text-xs font-medium me-2 px-2.5 py-0.5 rounded-full bg-gray-700 text-gray-300">
                      {{ hunt.weapon }}
                    </span>
                  }
                  @case ('Archery') {
                    <span class="uppercase text-xs font-medium me-2 px-2.5 py-0.5 rounded-full bg-green-900 text-green-300">
                      {{ hunt.weapon }}
                    </span>
                  }
                  @case ('Primitive') {
                    <span class="uppercase text-xs font-medium me-2 px-2.5 py-0.5 rounded-full bg-yellow-900 text-yellow-300">
                      {{ hunt.weapon }}
                    </span>
                  }
                  @default {
                    <span class="uppercase text-xs font-medium me-2 px-2.5 py-0.5 rounded-full bg-gray-700 text-gray-300">
                      {{ hunt.weapon }}
                    </span>
                  }
                }
                <span class="text-xs font-medium me-2 px-2.5 py-0.5 rounded-full bg-blue-900 text-blue-300">
                  {{ hunt.season }}
                </span>
                @for (date of hunt.huntDates; track date) {
                  <span class="text-xs font-medium me-2 my-1 px-2.5 py-0.5 rounded-full bg-gray-400 text-gray-700">
                    {{ date.start | date: 'MM/dd' }} &ndash; {{ date.end | date: 'MM/dd' }}
                  </span>
                }
                @if (hunt.quota) {
                  <span class="text-sm font-medium me-2 px-2.5 py-0.5 rounded-full bg-red-900 text-red-300">
                    <span class="text-xs uppercase">Quota:</span> <span>{{ hunt.quota }}</span>
                  </span>
                }
              </div>
              <div class="mt-1 text-xs" [innerHTML]="hunt.details | detailsHighlight"></div>
            </td>
          </tr>
          <tr class="bg-gray-800 border-b border-gray-600">
            <td class="text-xs px-2 pb-2 align-top max-w-16 bg-gray-900">
              <table class="w-full mt-1 mb-1">
                <tr>
                  <td class="px-2 w-1/2 uppercase text-xs font-semibold text-right text-gray-400 border-r border-gray-600">Hunters</td>
                  <td class="px-2 w-1/2">{{ hunt.hunterCount }}</td>
                </tr>
                <tr>
                  <td class="px-2 w-1/2 uppercase text-xs font-semibold text-right text-gray-400 border-r border-gray-600">Bucks</td>
                  <td class="px-2 w-1/2">{{ hunt.bucks }}</td>
                </tr>
                <tr>
                  <td class="px-2 w-1/2 uppercase text-xs font-semibold text-right text-gray-400 border-r border-gray-600">Does</td>
                  <td class="px-2 w-1/2">{{ hunt.does }}</td>
                </tr>
                <tr class="border-t border-gray-600">
                  <td colspan="2" class="px-2 uppercase text-xs font-semibold text-gray-400 text-center whitespace-nowrap">Success Rate</td>
                </tr>
                <tr>
                  <td colspan="2" class="px-2 {{ hunt | successRateColor }} font-bold text-center text-sm">
                    {{ hunt | successRate }}&percnt;
                  </td>
                </tr>
              </table>
            </td>
            <td class="px-2 border-t border-l border-gray-600 align-top">
               hunt.id: {{ hunt.id }}
            </td>
          </tr>
        } @empty {
          <tr class="bg-gray-800 border-b border-gray-700">
            <td colspan="3" class="px-8 py-8 text-gawmas-yeller flex justify-center">
              <div class="mt-2 flex items-center italic">
                <ng-icon name="heroFaceFrown" class="mr-1"></ng-icon>
                <span class="sr-only">Sad face icon</span>
                <div>
                  <span class="font-medium">No results found</span>.
                </div>
              </div>
            </td>
          </tr>
        }
      }
    </tbody>
  }
</table>

@if ((isEndOfResults$ | async) && (hunts$ | async)!.length > 0) {
  <div class="w-[95%] flex justify-center mt-1 mb-12 bg-gray-900 py-1">
    <div class="flex items-center text-gawmas-yeller text-sm">
      <ng-icon name="heroCheckCircle" class="mr-1"></ng-icon>
      <span class="italic uppercase">End of results</span>
    </div>
  </div>
}


