/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;

.spinner_b2T7 {
  animation: spinner_xe7Q 0.8s linear infinite;
}
.spinner_YRVV {
  animation-delay: -0.65s;
}
.spinner_c9oY {
  animation-delay: -0.5s;
}
@keyframes spinner_xe7Q {
  93.75%,
  100% {
    r: 3px;
  }
  46.875% {
    r: 0.2px;
  }
}

.toggle {
  @apply w-11
    h-6
    bg-gray-300
    after:content-['']
    after:absolute
    after:top-[2px]
    after:start-[2px]
    after:bg-white
    after:border-gray-300
    after:border
    after:rounded-full
    after:h-5 after:w-5
    after:transition-all
    border-gray-600
    peer-checked:bg-blue-500;
}

body {
  overflow-x: hidden;
  letter-spacing: 0.025em;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", "Helvetica",
    "Arial", "sans-serif";
}

.nav-current {
  @apply block
    md:p-0
    text-white
    md:bg-transparent
    border-b-2
    border-gawmas-yeller
    md:font-bold;
}

.nav-link {
  @apply block
    md:p-0
    text-gray-200
    hover:text-white
    md:bg-transparent
    md:font-semibold
    hover:underline;
}

.detail-bonus-deer {
  @apply text-gawmas-yeller font-semibold;
}

.detail-sign-in {
  @apply text-white font-semibold;
}

button.btn {
  @apply mr-1.5
    relative
    inline-flex
    items-center
    px-5 py-2.5
    text-sm
    font-medium
    text-center
    rounded-full
    focus:ring-1
    focus:outline-none;

  &-primary {
    @apply text-white
      bg-blue-600
      hover:bg-blue-500
      focus:ring-white;
  }

  &-default {
    @apply bg-gray-300
      hover:bg-gray-200
      text-gray-700;
  }

  &-danger {
    @apply bg-red-600
      hover:bg-red-500
      disabled:bg-red-300
      disabled:text-gray-400
      text-gray-100;
  }

  &-loading {
    @apply bg-gray-700
      text-gray-400
      cursor-not-allowed;
  }

  &-dark {
    @apply bg-gray-800
      hover:bg-gray-700
      text-gray-200
      border border-gray-600;
  }
}

.count-badge {
  @apply absolute
    inline-flex
    items-center
    justify-center
    w-6 h-6
    text-xs
    font-bold
    text-white
    bg-red-500 border-2
    border-white
    rounded-full
    -top-2 -end-2
    dark:border-gray-900;
}

.select {
  @apply block
    py-3 px-5
    text-xs
    border
    rounded-full
    bg-gray-700 border-gray-600
    placeholder-gray-400
    text-white
    focus:ring-blue-500 focus:border-blue-500;
}

.gawmas-tooltip {
  @apply absolute
    z-10
    invisible
    inline-block
    px-3 py-2
    text-xs
    font-medium
    text-gray-800
    normal-case
    transition-opacity
    duration-300
    bg-gray-300
    rounded-full
    shadow-sm
    opacity-0;
}

.scroll-container {
  max-width: 100%; /* Set the maximum width as needed */
  overflow-x: auto; /* Enable horizontal scrolling */
}

.legend {
  line-height: 18px;
  color: #FFFFFF;
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}
.info {
  @apply
    invisible
    md:visible
    text-xs
    md:text-sm;
  padding: 6px 8px;
  background: white;
  background: #333333;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  border: 1px solid #666666;
}
.info h4 {
  margin: 0 0 2px;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid #CCCCCC;
}

.leaflet-popup {
  @apply
    bg-gray-900
    text-gray-200;
}

.map-filter-opt {
  @apply
    px-3 py-2 w-full 
    inline-flex items-center justify-center
    bg-gray-700 
    cursor-pointer 
    peer-checked:bg-blue-600 
    peer-checked:underline 
    peer-checked:font-bold 
    hover:bg-gray-800 hover:underline
    text-nowrap; 
}

@tailwind utilities;
