/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;

.spinner_b2T7 {
  animation: spinner_xe7Q 0.8s linear infinite;
}
.spinner_YRVV {
  animation-delay: -0.65s;
}
.spinner_c9oY {
  animation-delay: -0.5s;
}
@keyframes spinner_xe7Q {
  93.75%,
  100% {
    r: 3px;
  }
  46.875% {
    r: 0.2px;
  }
}

.toggle {
  @apply
    w-11
    h-6
    bg-gray-300
    after:content-['']
    after:absolute
    after:top-[2px]
    after:start-[2px]
    after:bg-white
    after:border-gray-300
    after:border
    after:rounded-full
    after:h-5 after:w-5
    after:transition-all
    border-gray-600
    peer-checked:bg-blue-500
}

body {
  overflow-x: hidden;
  letter-spacing: 0.025em;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", 'Helvetica', 'Arial', 'sans-serif';
}

.detail-bonus-deer {
  @apply text-gawmas-yeller font-semibold;
}

.detail-sign-in {
  @apply text-white font-semibold;
}

.scroll-container {
  max-width: 100%; /* Set the maximum width as needed */
  overflow-x: auto; /* Enable horizontal scrolling */
}

@tailwind utilities;

