nav.header {
  background-image: url(./../../assets/images/header-bg-image.png);
  background-repeat: no-repeat;

  a.brand object {
    height: 55px;
    max-height: 3rem
  }

  a.nav-current {
    @apply block
      md:p-0
      text-white
      md:bg-transparent
      border-b-2
      border-gawmas-yeller
      md:font-bold;
  }

  a.nav-link {
    @apply block
      md:p-0
      text-gray-200
      hover:text-white
      md:bg-transparent
      md:font-semibold
      hover:underline;
  }

}
