/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@config "./../../tailwind.config.js";

@import "./elements/header.scss";
@import "./elements/buttons.scss";
@import "./elements/chips.scss";
@import "./components/loader.scss";
@import "./components/hunts.scss";
@import "./components/filters.scss";
@import "./components/map.scss";
@import "./components/add-hunts.scss";

body {
  overflow-x: hidden;
  letter-spacing: 0.025em;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", "Helvetica",
    "Arial", "sans-serif";
}

.toggle {
  @apply w-11
    h-6
    bg-gray-300
    after:content-['']
    after:absolute
    after:top-[2px]
    after:start-[2px]
    after:bg-white
    after:border-gray-300
    after:border
    after:rounded-full
    after:h-5 after:w-5
    after:transition-all
    border-gray-600
    peer-checked:bg-blue-500;
}

.select {
  @apply block
    py-3 px-5
    text-xs
    border
    rounded-full
    bg-gray-700 border-gray-600
    placeholder-gray-400
    text-white
    focus:ring-blue-500 focus:border-blue-500;
}

.gawmas-tooltip {
  @apply absolute
    z-10
    invisible
    inline-block
    px-3 py-2
    text-xs
    font-medium
    text-gray-800
    normal-case
    transition-opacity
    duration-300
    bg-gray-300
    rounded-full
    shadow-sm
    opacity-0;
}

.scroll-container {
  max-width: 100%; /* Set the maximum width as needed */
  overflow-x: auto; /* Enable horizontal scrolling */
}

// @tailwind utilities;
